src/jsclient/node_modules/
src/jsclient/package-lock.json
src/jsclient/.next
src/jsclient/dist
src/jsclient/server/service_impl/tf.ts
logs
package-lock.json
.#*
temp
.python_venv
.git-tag
.prepared-git-tag
.history
**/__pycache__/