node_modules/
package-lock.json
.next
docker-ext-image-versions.env
dist
logs
.env
build-docker
docker-compose*yml
README.md
Dockerfile
nodemon.json
run-dev-config
run-dev
run-analyze
prepare-dev
.dockerignore
.gitignore
.git
.vscode
update-production
migrations